/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon";
    src: url("../flacticon/flaticon.woff2?cef08f2128e7b835527b1524b7bbbcfb") format("woff2"),
url("../flacticon/flaticon.woff?cef08f2128e7b835527b1524b7bbbcfb") format("woff"),
url("../flacticon/flaticon.eot?cef08f2128e7b835527b1524b7bbbcfb#iefix") format("embedded-opentype"),
url("../flacticon/flaticon.ttf?cef08f2128e7b835527b1524b7bbbcfb") format("truetype"),
url("../flacticon/flaticon.svg?cef08f2128e7b835527b1524b7bbbcfb#flaticon_roavio") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before , span[class^="flaticon-"]:before, span[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-travel-agency:before {
    content: "\f101";
}
.flaticon-travel:before {
    content: "\f102";
}
.flaticon-traveling:before {
    content: "\f103";
}
.flaticon-roadmap:before {
    content: "\f104";
}
.flaticon-mouse:before {
    content: "\f105";
}
.flaticon-promotion:before {
    content: "\f106";
}
.flaticon-tourist:before {
    content: "\f107";
}
.flaticon-insurance:before {
    content: "\f108";
}
.flaticon-traveling-1:before {
    content: "\f109";
}
.flaticon-hot-air-balloon:before {
    content: "\f10a";
}
.flaticon-passport:before {
    content: "\f10b";
}
.flaticon-tent:before {
    content: "\f10c";
}
.flaticon-costumer:before {
    content: "\f10d";
}
.flaticon-suitcase:before {
    content: "\f10e";
}
.flaticon-excursion:before {
    content: "\f10f";
}
.flaticon-quote:before {
    content: "\f110";
}
.flaticon-left-quote:before {
    content: "\f111";
}
.flaticon-travel-agency-1:before {
    content: "\f112";
}
.flaticon-price-tag:before {
    content: "\f113";
}
.flaticon-booking:before {
    content: "\f114";
}
.flaticon-destination:before {
    content: "\f115";
}
.flaticon-man:before {
    content: "\f116";
}
.flaticon-holiday-trip:before {
    content: "\f117";
}

@font-face {
    font-family: "flaticon";
    src: url("../flacticon/flaticon.woff2?cef08f2128e7b835527b1524b7bbbcfb") format("woff2"),
url("../flacticon/flaticon.woff?cef08f2128e7b835527b1524b7bbbcfb") format("woff"),
url("../flacticon/flaticon.eot?cef08f2128e7b835527b1524b7bbbcfb#iefix") format("embedded-opentype"),
url("../flacticon/flaticon.ttf?cef08f2128e7b835527b1524b7bbbcfb") format("truetype"),
url("../flacticon/flaticon.svg?cef08f2128e7b835527b1524b7bbbcfb#flaticon_roavio") format("svg")
}